<h1 class="page-header">Bands</h1>

<ul class="main-list clearfix">
  <% @bands.each do |band|%>
    <li class="main-list-item">
      <a href="<%= band_url(band) %>">
        <%= band.name %>
      </a>
    </li>
  <% end %>
</ul>

<h4 class="sub-header">Links</h4>
<%= link_to 'New band', new_band_url, class: "button" %>
