<h1>Band index</h1>

<ul>
  <% @bands.each do |band|%>
    <li>
      <%= band.name %>
    </li>
  <% end %>
</ul>

<h4 class="sub-header">Links</h4>
<%= link_to 'New band', new_band_url, class: "button" %>
