<%= error_messages(flash[:errors]) %>

<h1 class="page-header">Bands</h1>

<ul class="main-list clearfix">
  <% @bands.each do |band|%>
    <li class="main-list-item">
      <a href="<%= band_url(band) %>">
          <p><%= band.name %></p>
      </a>
    </li>
  <% end %>
</ul>

<h4 class="sub-header">Links</h4>

<% if current_user.admin %>
  <%= link_to 'New band', new_band_url, class: "button" %>
<% end %>

