<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello, <%= @user.email %></h1>
  <p>Please activate your MUSIC APP account with the link below:</p>
  <a href="<%= @url %>"><%= @url %></a>
  
</body>
</html>