<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to MUSIC APP, <%= @user.email %></h1>
  <p>Please log in with the link below:</p>
  <a href="<%= @url %>"><%= @url %></a>
  
</body>
</html>